/* Définir les propriétés personnalisées */
:root {
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
}

/* Appliquer les styles à la classe section-title */
.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

/* Styles des liens */
a:link {
    color: var(--text-color);
}

a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: var(--color-light-grey);
}
