/* Style pour nettoyer le contexte après les lignes */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Style commun pour toutes les colonnes */
[class^="col-"] {
    float: left;
    padding: 0.5rem;
}

/* Style spécifique pour les largeurs de colonnes */
.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}
